PORT=5005
NODE_ENV=production

DB_HOST=db.example.com
DB_USER=ecom_user
DB_PASSWORD=CHANGE_ME
DB_NAME=ecom_admin

JWT_SECRET=CHANGE_ME_SAME_ACROSS_ALL_SERVICES_32CHARS_MIN
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

FRONTEND_URL=https://shop-staging.example.com

ORDER_SERVICE_URL=http://order-service:5004
USER_SERVICE_URL=http://user-service:5001

AUTH_COOKIE_SAMESITE=none
AUTH_COOKIE_SECURE=true

SEED_ADMIN_PASSWORD=CHANGE_ME
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PHONE=9999999999
SEED_ADMIN_NAME=Super Admin
