PORT=5002
NODE_ENV=production

DB_HOST=db.example.com
DB_USER=ecom_user
DB_PASSWORD=CHANGE_ME
DB_NAME=ecom_product

JWT_SECRET=CHANGE_ME_SAME_ACROSS_ALL_SERVICES_32CHARS_MIN
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

FRONTEND_URL=https://shop-staging.example.com

MINIO_ENDPOINT=minio.example.com
MINIO_PORT=9000
MINIO_USE_SSL=true
MINIO_ACCESS_KEY=CHANGE_ME
MINIO_SECRET_KEY=CHANGE_ME
MINIO_BUCKET_URL=https://cdn-staging.example.com

INTERNAL_API_KEY=CHANGE_ME_SAME_ON_PRODUCT_CART_ORDER
ADMIN_SERVICE_URL=http://admin-service:5005/api/admin
VENDOR_SERVICE_ADMIN_URL=http://vendor-service:5006/api/admin

SEED_PASSWORD=CHANGE_ME
# SEED_VENDOR_ID=
